body{
    background-color: aquamarine;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    background-color: rgb(238, 203, 203);
    text-align: center;
    font-size: 48px;
}

.image{
    display: block;
    margin: 10px auto;
    height: 500px;
    width: auto;
    border: 2px solid black;
}

#list{
    font-size: 32px;
    text-align: center;
    color: black;
}

.box{
    background-color: rgb(203, 128, 230);
    margin: 4px;
    padding: 10px;
    border: 5px solid red;
    display: block;
}

